.book-copy-btn-book,
.book-copy-btn-question {
    z-index: 1000;

    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    line-height: 1;

    cursor: pointer;
    user-select: none;

    background: #e4e4e4f2;
    border: 1px solid #0000001a;
    border-radius: 8px;

    box-shadow: 0 2px 6px #00000026;
}

.book-copy-btn-book {
    position: fixed;
    top: 75px;
    right: 30px;
}

.book-copy-btn-question {
    position: absolute;
    top: 10px;
    right: 10px;
}